<html>
<head>
<title>
	PrereformToContemporary
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
				<form action="{{url_for('web_converter')}}" enctype="multipart/form-data" method="post">
					<div style="width:700px;">
						<h3>
							Транслитератор из дореформенной русской орфографии в современную
						</h3>
					</div>
					<div style="border-width: thin; width: 100%; 
						position: absolute; top: 0px; left: 1000px; right: 0px;">
					      <img src="{{url_for('static', filename='logo_hse_cmyk.jpg')}}", alt="HSE", hspace=20, vspace=20, width='137', height='130'/>
					</div>
					<div style="border-width: thin; width: 100%; 
						position: absolute; top: 0px; left: 840px; right: 165px;">
					      <img src="{{url_for('static', filename='logo_ling.jpg')}}", alt="ling", hspace=20, vspace=20 width='150' height='97'>
					</div>
					<div style="border-width: thin; width: 350px; 
						position: absolute; top: 220px; left: 750px; text-align: justify;">
						<b>Для примера:</b> <br />
					      Пройдя комнату, такъ называемую, офиціанскую, мы взошли въ кабинетъ Папа. Онъ стоялъ подлѣ письменнаго стола и, показывая на бумаги, запечатанные конверты, кучки денегъ, горячился и что-то толковалъ прикащику Никитѣ Петрову, который на обычно[мъ] своемъ мѣстѣ, подлѣ барометра, разставивъ ноги на приличное раз[стояніе], заложивъ руки назадъ и приводя за спиною пальцы въ движеніе тѣмъ быстрѣе, чѣмъ болѣе горячился [13] папа, спереди не выказывалъ ни малѣйшаго знака безпокойства, но, напротивъ, выраженіемъ лица выказывалъ совершенное сознаніе своей правоты и вмѣстѣ съ тѣмъ подвластности.
					</div>
					<div>
					<textarea name='inp_text' cols=100 rows=15>{{input_text}}</textarea>
					</div>
					<input name='go' value='Транслитерировать' type='submit'>
					<input name='clean' value='Очистить' type='submit'>
					<input type="checkbox" name="both" value='show'> Показывать оригинальное написание
                    <a href="{{url_for('get_settings')}}">Настройки</a>
					<div>
						Загрузить файл(ы) .txt:
						<input type="file" name="f_txt" multiple>
						<input type="submit" name='download_txt' value="OK"></p>
						<input type='hidden' name='filename_txt' value='{{filename}}'>

						Загрузить файл(ы) xml (.html, .xhtml):
						<input type="file" name="f_xml" multiple>
						<input type="submit" name='download_xml' value="OK"></p>
						<input type='hidden' name='filename_xml' value='{{filename}}'>
			
					</div>
					<div>
					<textarea name='outp_text' cols=100 rows=15>{{output_text}}</textarea>
					</div>
		
				</form>
	
				<div>
                    <a href="{{url_for('send_mail')}}">Форма обратной связи</a><br />
					<font color='grey'>
					<a href='http://ling.hse.ru'>Школа лингвистики</a></font><br /><font color='grey' size='1'>
					<a href='https://bitbucket.org/Shelari/prereformtocontemporary'>Исходный код</a></font>
                    <br /><font color='grey' size='1'>Елена Сидорова 2016</font>
				</div>
</body>
</html>
