<!DOCTYPE html>
<html>
<head>
<title>
        PrereformToContemporary
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script>
        var xml = "{{check_xml}}"
        var txt = "{{check_txt}}"
        function submits(){
            document.getElementById(xml).checked = true;
            document.getElementById(txt).checked = true;
        }
        function click(){
            if (document.getElementById("tei_txt").checked){
                txt = "tei_txt"
            };
            if (document.getElementById("s_txt").checked){
                txt = "s_txt"
            };
            if (document.getElementById("m_txt").checked){
                txt = "m_txt"
            };
            if (document.getElementById("tei_xml").checked){
                xml = "tei_xml"
            };
            if (document.getElementById("s_xml").checked){
                xml = "s_xml"
            };
            if (document.getElementById("m_xml").checked){
                xml = "m_xml"
            };
        }
    </script>
</head>
<body onload="submits()">
        <a href="{{url_for('web_converter')}}">Вернуться к транслитератору</a>
        <form action='{{url_for("get_settings")}}' enctype="multipart/form-data" method="post">
                <div style='text-align:center;width:60%;margin-left:20%;margin-right:20%;'>
                        <h2>
                                Настройки вывода
                        </h2>
                </div>
                <div style='text-align:center;width:60%;margin-left:20%;margin-right:20%;'>
                    <h4>
                        Для данных в формате .txt (загружаемые файлы и вводимые вручную тексты)
                    </h4><br>
                    <div style='text-align:right'>

                        <input type="text" name="br_text00" value="<choice><reg>" style="text-align:right;width:100px;font-size:14px" disabled>
                        пример
                        <input type="text" name="br_text01" value="</reg><orig>" style="text-align:right;width:87px;font-size:14px" disabled>
                        примеръ
                        <input type="text" name="br_text02" value="</orig></choice>" style="text-align:right;width:110px;font-size:14px" disabled>
                        <input type="radio" name="text_settings" value="tei" id="tei_txt"> <b>TEI</b><br><br>

                        <input type="text" name="br_text10" value="" style="text-align:right;width:10px;font-size:14px" disabled>
                        пример
                        <input type="text" name="br_text11" value="{" style="text-align:right;width:10px;font-size:14px" disabled>
                        примеръ
                        <input type="text" name="br_text12" value="}" style="text-align:right;width:10px;font-size:14px" disabled>
                        <input type="radio" name="text_settings" value="simple" id="s_txt"> <b>Простой</b><br><br>

                        <input type="text" name="br_text20" value="{{v1_txt}}" style="text-align:right;width:100px;font-size:14px">
                        пример
                        <input type="text" name="br_text21" value="{{v2_txt}}" style="text-align:right;width:100px;font-size:14px">
                        примеръ
                        <input type="text" name="br_text22" value="{{v3_txt}}" style="text-align:right;width:100px;font-size:14px">
                        <input type="radio" name="text_settings" value="manual_text" id="m_txt"> <b>Задать вручную</b><br><br>
                    </div>
                    <h4>
                        Для данных в формате xml/html
                    </h4><br>
                    <div style='text-align:right'>

                        <input type="text" name="br_xml00" value="<choice><reg>" style="text-align:right;width:100px;font-size:14px" disabled>
                        пример
                        <input type="text" name="br_xml01" value="</reg><orig>" style="text-align:right;width:87px;font-size:14px" disabled>
                        примеръ
                        <input type="text" name="br_xml02" value="</orig></choice>" style="text-align:right;width:110px;font-size:14px" disabled>
                        <input type="radio" name="xml_settings" value="tei" id="tei_xml"> <b>TEI</b><br><br>

                        <input type="text" name="br_xml10" value="" style="text-align:right;width:10px;font-size:14px" disabled>
                        пример
                        <input type="text" name="br_xml11" value="{" style="text-align:right;width:10px;font-size:14px" disabled>
                        примеръ
                        <input type="text" name="br_xml11" value="}" style="text-align:right;width:10px;font-size:14px" disabled>
                        <input type="radio" name="xml_settings" value="simple" id="s_xml"> <b>Простой</b><br><br>

                        <input type="text" name="br_xml20" value="{{v1_xml}}" style="text-align:right;width:100px;font-size:14px">
                        пример
                        <input type="text" name="br_xml21" value="{{v2_xml}}" style="text-align:right;width:100px;font-size:14px">
                        примеръ
                        <input type="text" name="br_xml22" value="{{v3_xml}}" style="text-align:right;width:100px;font-size:14px">
                        <input type="radio" name="xml_settings" value="manual_xml" id="m_xml"> <b>Задать вручную</b><br><br>
                    </div>
                    <br>
                    <div style='text-align:center'>
                        <input type="submit" name="save_settings" value="Сохранить настройки" style="font-size:40px" onclick="click()">
                    </div>
                </div>
        </form>
</body>
</html>